<div class="readonly-data">
  <h2><%= @sco %></h2>

  <p>
    <strong><%= Sco.human_attribute_name 'current' if @sco.current %></strong>
  </p>
  
</div>
<div class="form-actions">
  <%= link_to t('label.edit'), edit_sco_path(@sco) if can? :update, @sco %> |
  <%= link_to t('label.list'), scos_path %>
</div>
