<div id="<%= volume_changer = 'volume_changer' %>">
  <%= form_for :volume_changer,
    url: configs_lights_volume_path,
    method: :patch, remote: true,
    data: { target: volume_changer, replace: true, responds_as: :patch,
            callback: "highlightItem('', '', '##{volume_changer}');"
  }  do |f|  %>

    <%= render "shared/vertical_slider", f: f, field: :volume, value: volume %>
    <br />
    <br />
    <br />
    <%= f.submit t('view.lights.submit_volume'), class: 'btn btn-primary' %>
  <% end %>
</div>
