<div class="row-fluid">
  <%= f.input :company,       input_html: { class: 'span11', autofocus: true } %>
  <%= f.input :policy_number, input_html: { class: 'span11' }  %>
  <%= f.input :valid_until,   input_html: { class: 'span11' }, as: :date_picker %>
</div>
