<div class="public_form_container">
  <h3><%= t('view.misc.news.title') %></h3>

  <div class="row-fuild">
    <div class="span6">
      <ul>
        <li>
          <h4>Lunes 16 de Septiembre de 2013 - Lucas Padovan</h4>
          <ol>
            <li>Agregada pantalla de "Novedades" básica para informar nuevas funcionalidades en el sistema</li>
            <li>Agregado autocompletado de direcciones</li>
            <li>Agregados "estados" para las intervenciones, todas son creadas como "En curso" y luego se dará la posibilidad de alterar estos estados.
              Se marcarían como "Finalizadas" cuando se carga la planilla móvil de todos las dotaciones involucrados</li>
            <li>En el mapa general (incluido el de pantalla completa) se muestran las intervenciones "En curso", luego se permitirá elegir rangos de
              fechas y estados y tipos de intervenciones para personalizar las intervenciones mostradas.</li>
          </ol>
        </li>
      </ul>
    </div>
    <div class="clearfix"></div>
    <br/>
    <!--todo: cambiar por una clase bien definida para margenes y eso-->
  </div>
</div>