<div class="public_form_container">
  <h3><%= t('view.misc.news.title') %></h3>

  <div class="row-fuild">
    <div class="span6">
      <ul>
        <li>
          <h4>Domingo 3 de Noviembre de 2013 - Lucas Padovan</h4>
          <ol>
            <li>Cambiado de lugar la ubicación de los menus de bomberos, ceos,
              jerarquias y móviles. Esto puede traer algunos inconvenientes con
              los autocompletados, si e encuentra alguna, por favor avisar.
              Se agrego un sistema de captura de errores que permitirá revisar
              de mejor manera los errores que ocurran.
            </li>
          </ol>
        </li>
        <li>
          <h4>Domingo 27 de Octubre de 2013 - Lucas Padovan</h4>
          <ol>
            <li>Mejorado el autocompletado de los mapas, se utilizan las funciones
              más precisas brindadas por google maps, referentes a google places.
              Esto debería mejorar la precisión de las busquedas y tambien estan limitadas
              a Argentina (es lo más que se puede limitar por ahora).
            </li>
          </ol>
        </li>
        <li>
          <h4>Viernes 25 de Octubre de 2013 - Lucas Padovan</h4>
          <ol>
            <li>Mejoradas las funciones del colorpicker y los mapas, ahora no
              deberían tener problemas al realizar operaciones sucesivas.

              ** Nestor Coppi
              Arregló el formulario de la intervención, ahora aparece la primer
              dotación, como debería ser.
            </li>
          </ol>
        </li>
        <li>
          <h4>Miercoles 2 de Octubre de 2013 - Lucas Padovan</h4>
          <ol>
            <li>Agregado AJAX para la planilla movil, esto permite cargar vehiculos,
              inmuebles, unidades de soporte y personas de manera rápida, no
              bloqueante y sin recargar la página cada vez que se ejecuta una
              acción, lo que permite focalizar mejor el trabajo.</li>
          </ol>
        </li>
        <li>
          <h4>Lunes 16 de Septiembre de 2013 - Lucas Padovan</h4>
          <ol>
            <li>Agregada pantalla de "Novedades" básica para informar nuevas funcionalidades en el sistema</li>
            <li>Agregado autocompletado de direcciones</li>
            <li>Agregados "estados" para las intervenciones, todas son creadas como "En curso" y luego se dará la posibilidad de alterar estos estados.
              Se marcarían como "Finalizadas" cuando se carga la planilla móvil de todos las dotaciones involucrados</li>
            <li>En el mapa general (incluido el de pantalla completa) se muestran las intervenciones "En curso", luego se permitirá elegir rangos de
              fechas y estados y tipos de intervenciones para personalizar las intervenciones mostradas.</li>
          </ol>
        </li>
      </ul>
    </div>
    <div class="clearfix"></div>
    <br/>
  </div>
</div>