<div data-new-console-alert="div" class="hide" data-template="<%= %{
  <div class="alert alert-info">
    <a class="close" data-dismiss="alert">&times;</a>
    <h3>
      <a href="LINK_PLACE" target="_blank">
        #{t('view.interventions.new_console_intervention')}
      </a>
    </h3>
  </div>
} %>">
</div>

<script charset="utf-8">
  InterventionUpdater.consoleAlerts();
</script>
