<div class="modal">
  <%= simple_form_for( [@intervention, @endowment, 'mobile_intervention', @building],
      remote: true, html: { data: { target: 'new_building', error: 'modal',
      modal: true, callback: "highlightItem('new_building',
      'buildings_list', false);", replace: true } } ) do |f| %>
    <div class="modal-header">
      <a class="close" data-dismiss="modal">&times;</a>
      <h2><%= @title %></h2>
    </div>
    <div class="modal-body">
      <%= render partial: 'form', locals: {f: f} %>
    </div>
    <div class="modal-footer">
      <%= f.button :submit, t('view.buildings.new'), class: 'btn-primary' %>
    </div>
  <% end %>
</div>

