<div class="modal">
  <%= form_for :priorities, url: set_priority_configs_intervention_types_path, html: {
      class: 'form-horizontal' }, method: :put do %>

    <div class="modal-header">
      <a class="close" data-dismiss="modal">&times;</a>
      <h2><%= t 'view.intervention_types.priorities' %></h2>
    </div>
    <div class="modal-body text-center">
      <% (1..10).each do |i| %>
        <p>
          <%= select_tag i.to_s, options_from_collection_for_select(
            @children, 'id', 'to_s',
            selected: @children.map { |x| x.id if x.priority == i}
          ), prompt: "Tipo con prioridad #{i}" %>
        </p>
        <%# todo: hacer exclusiva la lista de las prioridades mediante javscript %>
      <% end %>
    </div>
    <div class="modal-footer">
      <%= submit_tag t('label.save'), class: 'btn btn-primary', disable_with: t('label.saving') %>
    </div>
  <% end %>
</div>
