<div class='row-fluid'>
  <div class='span3 label'>
    <%= f.label :auto_firefighter_name, show_charge_name(f.object.charge) %>
    <%= f.input :charge, as: :hidden %>
  </div>
  <div class='span9'>
    <%= f.input :auto_firefighter_name, label: false, input_html: {
      value: f.object.firefighter,
      class: 'span10 autocomplete-field',
      data: {
        'autocomplete-url' => autocomplete_for_firefighter_name_interventions_path(
          format: :json
        ),
        'autocomplete-class-target' => '.autocomplete-id'
      }
    } %>

    <%= f.input :firefighter_id, as: :hidden, 
      input_html: { class: 'autocomplete-id' } %>
  </div>
</div>
