<% %i[informer_name informer_nid informer_phone informer_address].each do |attr| %>
  <% if (value = @intervention.send(attr)).present? %>
    <p>
      <strong><%= Intervention.human_attribute_name attr %></strong>:
      <%= @intervention.send(attr) %>
    </p>
  <% end %>
<% end %>

<% if @intervention.sco_name.present? %>
  <strong><%= Intervention.human_attribute_name 'sco_name' %></strong>:
  <%= @intervention.sco_name %>
<% end %>
