<div class="modal">
  <div class="modal-header">
    <h2>
      <%= @title %>
      <h3 id="show_map_title"></h3>
    </h2>
  </div>
  <div class="modal-body">
    <div id="map_canvas" class="google-map"></div>
  </div>
  <div class="modal-footer">
    <%= link_to_function t('label.close'), "$('#modal').modal('toggle');
    $('.colorpicker.dropdown-menu').remove();", class: 'btn' %>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  var address = '<%= params[:address] %>';
  if (address == '') address = document.getElementById("intervention_address").value;
  var edit_coordenates = true
  if ('<%= params[:edit_coordenates] %>' == 'false') edit_coordenates = false;
  findAddressInMap(address, edit_coordenates);
</script>
