<%= content_for :form_actions do %>
  <%= link_to t('label.list'), interventions_path %>
<% end %>
<h2><%= t('view.interventions.new_title', number: intervention_next_number_for_form) %></h2>
<div id="show-quick-buttons" class="btn btn-mini btn-inverse pull-right">Mostrar botones rapidos</div>
<% unless @intervention.errors.present? %>
  <div class="quick-button-div" id="quick-button-div">
    <div class="row">
      <div class="quick-button-red alarm-button" target="house_fire">
        <div class="text">Incendio en casa</div>
      </div>
      <div class="quick-button-red alarm-button" target="car_fire">
        <div class="text">Incendio de automovil</div>
      </div>
      <div class="quick-button-red alarm-button" target="industry_fire">
        <div class="text">Incendio en industria</div>
      </div>
      <div class="quick-button-red alarm-button" target="explosion">
        <div class="text">Explosión</div>
      </div>
      <div class="quick-button-black alarm-button" target="matpel">
        <div class="text">Materiales Peligrosos</div>
      </div>
    </div>
    <div class="row">
      <div class="quick-button-green alarm-button" target="person_rescue">
        <div class="text">Rescate de persona</div>
      </div>
      <div class="quick-button-green alarm-button" target="car_crash">
        <div class="text">Accidente de auto</div>
      </div>
      <div class="quick-button-green alarm-button" target="bike_crash">
        <div class="text">Accidente de moto</div>
      </div>
      <div class="quick-button-green alarm-button" target="bus_crash">
        <div class="text">Accidente de micro</div>
      </div>
      <div class="quick-button-green alarm-button" target="derumbe">
        <div class="text">Derrumbe</div>
      </div>
    </div>
  </div>
<% end %>

<%= render 'form' %>

<script type="text/javascript">
  extend_button_div();
  apply_quick_button_functions();
</script>
