<div class="quick-button-div" id="quick-button-div">
  <div class="quick-button button-1">
    <span class="texto">Fuego</span>
  </div>
  <div class="quick-button button-2">
    Choque
  </div>
  <div class="quick-button button-3">
    Rescate
  </div>
  <div class="quick-button button-4">
    Derrumbe
  </div>
</div>
<%= content_for :form_actions do %>
  <%= link_to t('label.list'), interventions_path %>
<% end %>

<%= render 'form' %>

<script type="text/javascript">
  extend_button_div();
</script>