<%= content_for :form_actions do %>
  <%= link_to t('label.list'), interventions_path %>
<% end %>
<h2><%= t('view.interventions.new_title', number: intervention_next_number_for_form) %></h2>
<div id="show-quick-buttons" class="btn btn-mini btn-inverse pull-right">Mostrar botones rapidos</div>
<% unless @intervention.errors.present? %>
  <div class="quick-button-div" id="quick-button-div">
    <div class="quick-button-fire alarm-button" target="fire"></div>
    <div class="quick-button-crash alarm-button" target="crash"></div>
    <div class="quick-button-rescue alarm-button" target="rescue"></div>
    <div class="quick-button-other alarm-button" target="other"></div>
  </div>
<% end %>

<%= render 'form' %>

<script type="text/javascript">
  extend_button_div();
  apply_quick_button_functions();
</script>
