<div class="form-inputs">
  <%= f.text_area :observations, class: 'span9', rows: 5 %>
</div>

<div class="form-actions">
  <div class="pull-right"><%= yield :form_actions %></div>
  <%= f.submit t('view.mobile_interventions.new_title'), class: 'btn btn-primary' %>
</div>
