// Place all the styles related to the interventions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#add_new_endowment {
  font-size: 1.8em;
  padding: 0.3em;
}

.quick-button-div {
  border-radius: 15px;
  background-color: #363636;
  min-height: 300px;
  padding: 20px;
  text-align: center;

  [class^="quick-button-"],
  [class*=" quick-button-"] {
    transition: all 0.4s ease-in-out;
    display: inline-block;
    margin: 10px;
    width: 200px;
    height: 200px;
    min-width: 200px;
    min-height: 200px;
    background-color: #ffffff;
    border: 2px solid #363636;
    border-radius: 15px;
    box-shadow: 0px 15px 15px #000000;
    position: relative;
    top: 20%;
  }

  [class^="quick-button-"]:hover,
  [class*=" quick-button-"]:hover {
    transition: all 0.4s ease-in-out;
    box-shadow: 0px 5px 10px #85001a;
  }

  .quick-button-fire {
    background-image: url('incendio.png');
    background-size: cover;
  }
  .quick-button-crash {
    background-image: url('choque.gif');
    background-size: cover;
  }
  .quick-button-rescue {
    background-image: url('rescate.jpg');
    background-size: cover;
  }
}
