// Place all the styles related to the interventions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

[data-new-console-alert="div"] {
  position: fixed;
  right: 5px;
  top: 80px;
}

#add_new_endowment {
  font-size: 1.8em;
  padding: 0.3em;
}

.buttons {
  border-radius: 15px;
  background-color: #363636;
  overflow: hidden;
  padding: 20px;
  text-align: center;
  transition: all 0.3s ease-in-out;

  .row{
    [class^="button-"],
    [class*=" button-"] {
      transition: all 0.3s ease-in-out;
      display: inline-table;
      margin: 10px;
      width: 170px;
      height: 170px;
      min-width: 170px;
      min-height: 10px;
      border: 2px solid #363636;
      border-radius: 15px;
      box-shadow: 0px 5px 5px #000000;
      position: relative;
      top: 20%;
      background-size: cover;
      .text {
        color: white;
        padding-top: 40%;
        font-size: 20px;
      }
    }

    [class^="button-"]:hover,
    [class*=" button-"]:hover {
      transition: all 0.4s ease-in-out;
      box-shadow: 0px 15px 15px #000000;
      -ms-transform: scale(1.2, 1.2);
      -webkit-transform: scale(1.2, 1.2);
      -moz-transform: scale(1.2, 1.2);
      -o-transform: scale(1.2, 1.2);
      transform: scale(1.2, 1.2);
      z-index: 5;
    }
    .button-active {
      cursor: pointer;
      .text {
        text-shadow: black 0.1em 0.1em 0.2em;
      }
    }
    .button-empty {
      border: 2px #ffffff dotted;
    }
  }
}
.open-buttons {
  height: 388px;
  padding: 20px 20px;
}
.closed-buttons {
  height: 0px;
  padding: 0px;
  overflow: hidden;
}

.red {
  color: red;
}

.modal-form {
  marign: 0px;
}

.google-map {
  width: 100%;
  height: 350px;
}
.map-large {
  width: 100%;
  //todo: este alto deberia ser variable dependiendo del tamaño de la pantalla
  height: 600px;
}

.background-white {
  background-color: white;
}

.intervention-special-buttons {
  border-radius: 15px;
  background-color: #363636;
  overflow: hidden;
  padding: 20px;
  text-align: center;
  transition: all 0.3s ease-in-out;
}
.intervention-special-buttons a {
  margin: 0 5%;
}

.alert-buttons {
  transition: all 0.1s linear;
  overflow: hidden;
}
.alert-buttons.open {
  height: 220px;
}
.alert-buttons.closed {
  height: 0px;
}
