.print-only {
  display: none;
}

@media print {
	.form-actions {
		display: none;
	}

  .not-printable {
    display: none;
  }

  .navbar {
    display: none;
  }

  .print-only{
    display: block;
  }

  a[href]:after {
    content: none !important;
  }
}
