<ol id="markers-data" class="markers-list">
  <% @interventions.each do |intervention| %>
    <li
      data-marker-address="<%= intervention.formatted_description %>"
      data-marker-latitude="<%= intervention.latitude %>"
      data-marker-longitude="<%= intervention.longitude %>"
    >
      <% if interventions_list %>
        <%= intervention.formatted_description %>
      <% end %>
    </li>
  <% end %>
</ol>
